@import '@/assets/styles/styles.scss';

.header {

  &__bar {
    padding: 6px 85px;
    background-color: $rear;
  }

  &__main {
    padding: 11px 85px;
    background-color: #fff;
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
  }
}