@import '@/assets/styles/styles.scss';

.search {
  display: flex;
  position: relative;
  min-width: 526px;
  background: #FFFFFF;
  border: 1px solid $primary;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 14px;

  @media(max-width: 1240px) {
    min-width: 300px;
  }


  &__input {
    width: 100%;
    font-family: "open-sans";
  }

  &__list {
    width: 100%;
    position: absolute;
    top: 37px;
    left: 0;
  }

  &__item {
    background-color: $rear;
    padding: 8px 14px;
    cursor: pointer;
  }

  &__icon {
    display: block;
    width: 20px;
    height: 20px;
    background: url("../../assets/img/search.png") no-repeat center;
    cursor: pointer;
  }
}