.nav {

  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    cursor: pointer;

    &-arrow {
      display: block;
      width: 18px;
      height: 18px;
      background: url("../../assets/img/arrow.png") no-repeat center;
      margin-left: 4px;
    }
  }
}